%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= current_page.data.title || "Jennifer's Portfolio"

    = stylesheet_link_tag "foundation.min"
    = stylesheet_link_tag "site"
  %body

  = yield
