/ HERO SECTION
%section.hero
  .wrap
    %a{name: "html-cs"}
    %h1 About Me
    %p
      I am currently studying at Craft Academy and a Guest Lecturer at Linnaeus University-Vaxjo and currently
      teaching online at Al Madinah International University in Malaysia. I have been teaching Computer Science/IT
      subjects for 15 years in different parts of the world wich enabled me to learn different cultures, educational systems
      and pedagogical techniques. I have published reserach about E-learning from assessing the readiness state to the Importance
      Performance Analysis and Service Quality Assurance. Furthermore, I used to worked as Head of the Department in the College of IT
      where I experienced to develop Curriculum, Course Syllabi, Standard Procedures and Guidelines, Implementing Rules and Regulations etc.
      aligning to ISO standard. the pedagogical aspects to encourage the learners to co-create and become active learners.
