%footer
  .wrap.row.small-up-1.medium-up-3
    .column
      %h4 Useful Links
      %hr/
      %a{:href => "https://www.codecademy.com/learn/web", :target => "_blank"}
        %span Codeacademy
      %a{:href => "http://htmlcolorcodes.com/"}
        %span Hex colors
    .column
      %h4 Site Map
      %hr/
      %a{:href => "#html-cs"}
        %span About Me
      %a{:href => "#css-cs"}
        %span Projects
    .column
      %h4 Social Media
      %hr/
      %a{:href => "https://medium.com/@jen.almarasy", :target => "_blank"}
        %span My Blog
      %a{:href => "https://twitter.com/JenBeng2012", :target => "_blank"}
        %span Twitter
