/ DESKTOP NAVIGATION
%nav.top-bar.nav-desktop
  .wrap
    .top-bar-left
      %h3.site-logo Jenny's Portfolio
    .top-bar-right
      %ul.menu.menu-desktop
        %li
          %a{href: "#html-cs"} About Me
        %li
          %a{href: "#css-cs"} Projects
