%section.main
  .wrap.row
    .small-12.medium-6.column
      %a{name: "css-cs"}
        %h1 Projects

.row.small-up-2.medium-up-3
  .column
    %img{src: "/images/BMI.png"}/
    .card-section
      %h4 BMI Calculator
      %p An introductory Javascript project for calculating BMI using metric or imperial methods.
      = link_to 'BMI-Challenge', 'https://jocontreras.github.io/BMI-Challenge/'

  .column
    .card
      %img{src: "/images/fizzbuzz.png"}/
      .card-section
        %h4 Fizz Buzz using Javascript
        %p  An introductory Javascript project for simulating fizz buzz game
        = link_to 'Fizz Buzz Game', 'https://jocontreras.github.io/fizz_buzz_JS/'
  .column
    .card
      %img{src: "/images/fizzbuzz.png"}/
      .card-section
        %h4 Fizz Buzz using Ruby
        %p  An introductory Ruby project for simulating fizz buzz game
        = link_to 'Fizz Buzz Game', 'https://github.com/jocontreras/Fizzbuzz/'
