%section.main
  .wrap.row
    .small-12.medium-12.column
      %a{name: "css-cs"}
        %h1 Projects
        
%center
- data.projects.each do |project|
  .row.small-up-2.medium-up-3
    .card
    %img.pic{src: project[:image]}
      %h4= project[:name]
      %p= project[:description]
      %a{href: project[:github]}= project[:github]
